<div class='bluvue-sheet'>
    <header class="bluvue-sheet-header">
        <div class="back-block">
            <button ng-click="close()">Back</button>
        </div>
        <span>{{sheet.name}}</span>
        <nav>
            <button ng-click="resetZoom()" style="display: none;">Fit to Screen</button>

            <button id="more_menu" ng-click="moreMenuToggle()">...</button>
            <button id="fullscreen_button" ng-click="enterFullscreen(this)">Full Screen</button>
        </nav>
    </header>

    <button ng-click="selectPreviousSheet()" id="previous-sheet-arrow">< Previous</button>
    <button ng-click="selectNextSheet()" id="next-sheet-arrow">Next ></button>
    <button ng-click="showToolbar()" id="show-toolbar">Show Toolbar</button>
	<button ng-click="showAttachmentsPanel()" id="attachments-button" class="ng-show"  ng-show="isShowAttachmentsButton">Attachments</button>

	<button ng-click="selectPreviousAttachment()" ng-show="isShowAttachmentPreviousButton" id="previous-attachment-arrow">< Previous</button>
	<button ng-click="selectNextAttachment()" ng-show="isShowAttachmentNextButton" id="next-attachment-arrow">Next ></button>

    <div id="fullscreen_floating_block">
        <button id="fullscreen_exit_button" ng-click="enterFullscreen(this)">Exit Full Screen</button>
    </div>

	<div id="floating-indicators-panel">
		<div id="notes-floating-indicator" ng-click="notesDialog()" ng-show="sheetHasNotes() || userCanEditNotes()" class="{{ sheetHasNotes() ? 'notes-on-floating-indicator' : '' }} {{ !sheetHasNotes() && userCanEditNotes() ? 'notes-off-floating-indicator' : '' }}"></div>
		<div id="revisions-floating-indicator" ng-show="sheetCountRevisions() > 1" ng-click="selectRevision()"></div>
	</div>



    <div class="bluvue-sheet-more-menu">
        <div ng-repeat="menuItem in toolMoreMenu | orderObjectBy:'id'" id="{{ menuItem.idAttr }}" ng-click="moreMenuItemClicked(menuItem)" ng-if="checkMenuItemShowCondition(menuItem)">
            <img ng-src="{{ menuItem.imageURL }}"> <span>{{ menuItem.text }}</span>
        </div>
    </div>

	<div class="bluvue-attachments-panel">
		<div id="close-attachments-panel" ng-click="hideAttachmentsPanel()"></div>
		<div class="attachments-panel-title">Attachments</div>
		<ul id="attachments-panel-filter" ng-hide="isHideAttachmentsPanelFilterControls" class="ng-hide">
			<li id="attachments-panel-filter-selected" class="active" ng-click="changeFilterAttachmentPanel('selected', false)">Selected (<span>0</span>)</li>
			<li id="attachments-panel-filter-all" ng-click="changeFilterAttachmentPanel('all', false)">View All (<span>0</span>)</li>
		</ul>
		<ul id="attachments-panel-controls" ng-hide="isHideAttachmentsPanelControls || isShowAddAttachmentPanel" class="ng-hide">
			<li id="attachments-panel-control-add" ng-click="addModeAttachmentsAction('open')">Add</li>
			<li id="attachments-panel-control-edit" ng-click="editModeAttachmentsAction('open')">Edit</li>
		</ul>
		<ul id="attachments-panel-controls-cancel" ng-hide="isHideAttachmentsPanelCancelControls" class="ng-hide">
			<li id="attachments-panel-control-cancel" ng-click="editModeAttachmentsAction('close')">Cancel</li>
		</ul>

		<ul id="attachment-mimetypes-controls-cancel" ng-show="isShowAddAttachmentPanel">
			<li id="attachment-mimetypes-control-cancel" ng-click="addModeAttachmentsAction('close')">Cancel</li>
		</ul>

		<ul id="attachments-panel-mimetypes" ng-show="isShowAddAttachmentPanel">
			<li ng-click="addAttachmentAction('image')">
				<div class="attachment-icon attachment-icon-photo"></div>
				<div class="attachment-type">Add Photo</div>
			</li>
			<li ng-click="addAttachmentAction('video')">
				<div class="attachment-icon attachment-icon-video"></div>
				<div class="attachment-type">Add Video</div>
			</li>
			<li ng-click="addAttachmentAction('audio')">
				<div class="attachment-icon attachment-icon-audio"></div>
				<div class="attachment-type">Add Audio</div>
			</li>
			<li ng-click="addAttachmentAction('document')">
				<div class="attachment-icon attachment-icon-document"></div>
				<div class="attachment-type">Add Document</div>
			</li>
		</ul>


		<ul id="attachments-panel-files" class="{{ isHideAttachmentsPanelControls && !isHideAttachmentsPanelFilterControls ? 'large-attachment-panel' : '' }} {{ isHideAttachmentsPanelControls && isHideAttachmentsPanelFilterControls ? 'full-large-attachment-panel' : '' }}">
		</ul>
	</div>
	<div class="bluvue-attachments-panel-holder" ng-click="hideAttachmentsPanel()"></div>

	<div class="bluvue-viewer-panel-title ng-show" ng-show="isShowViewerPlaceholder">
		<div class="attachment-icon attachment-icon-{{ viewerData.icon }}"></div>
		<div class="bluvue-viewer-filename">{{ viewerData.filename }}</div>
		<div id="bluvue-viewer-close" ng-click="hideViewer()"></div>
	</div>
	<div class="bluvue-viewer-panel-content ng-show" ng-show="isShowViewerPlaceholder">
		<div class="bluvue-viewer-panel-content-inline">
			<img ng-show="viewerData.icon == 'photo'" id="viewer-photo">
			<video ng-show="viewerData.icon == 'video'" controls="controls" id="viewer-video"></video>
			<audio ng-show="viewerData.icon == 'audio'" controls="controls" id="viewer-audio"></audio>
			<div ng-show="viewerData.icon == 'document'" ng-click="openInTab(viewerData.url, viewerData.icon, viewerData.filename)" id="viewer-document">
				<div class="attachment-icon-document"></div>
				<div>Open Document</div>
			</div>
		</div>
	</div>
	<div class="bluvue-viewer-panel-holder ng-show" ng-click="hideViewer()" ng-show="isShowViewerPlaceholder"></div>
    <div class="bluvue-confirm-popup-holder"></div>


	<div id="bluvue-sheet-tool-menu-disabled"></div>

    <div class="bluvue-sheet-tool-menu">
        <div ng-repeat="(toolName, toolMenuButton) in toolMenuButtons | orderObjectBy:'id'" class="bv-toolbar-image bv-toolbar-{{toolMenuButton.buttons[toolMenuButtonTools[toolMenuButton.id]].name}} bv-toolbar-{{toolMenuButton.name}}" ng-class="{selected: selectedTool === toolMenuButton.buttons[toolMenuButtonTools[toolMenuButton.id]]}" ng-click="toolMenuButtonClicked(toolMenuButton)"></div>
    </div>
    <div class="bluvue-sheet-tool-menu-extension">
        <div ng-repeat="(toolName, tool) in selectedToolMenu.buttons | orderObjectBy:'menuIndex':true" class="bv-toolbar-extension-image bv-toolbar-{{tool.name}}" ng-class="{selected: selectedTool === tool}" ng-click="selectTool(tool)"></div>
    </div>
    <div class="bluvue-sheet-textsize-menu">
        <div ng-repeat="textSize in textSizes" class="bv-toolbar-image bv-toolbar-image-inline bv-toolbar-text" ng-class="{selected: currentSheet.tileView.textSize === textSize}" ng-click="currentSheet.setTextSize(textSize)"></div>
    </div>
    <div class='overlay'></div>
    <canvas>Canvas is not supported</canvas>

    <footer class="bluvue-sheet-footer" ng-show="false">
        <div><button ng-click="pinCurrentSheet()" ng-disabled="options.currentSheetPinned">Pin Sheet</button></div>
        <div ng-repeat="pinnedSheet in pinnedSheets" ng-class="{selected: pinnedSheet.id === sheet.id}">
            <span ng-click="selectPinnedSheet(pinnedSheet)">{{pinnedSheet.name}}</span><a ng-click="unpinSheet($index)">x</a>
        </div>
    </footer>
</div>
