<div class='bluvue-sheet'>
    <header class="bluvue-sheet-header">
        <span>{{sheet.name}}</span>
        <nav>
            <button ng-click="previousSheet()">< Previous</button>
            <button ng-click="nextSheet()">Next ></button>
            <button ng-click="resetZoom()">Fit to Screen</button>
            <button id="fullscreen_button" ng-click="enterFullscreen(this)">Full Screen</button>
            <button ng-click="close()">Close</button>
        </nav>
    </header>
    <div class="bluvue-sheet-tool-menu">
        <div ng-repeat="(toolName, tool) in tools | orderObjectBy:'id'" class="bv-toolbar-image bv-toolbar-{{tool.name}}" ng-class="{selected: selectedTool === tool}" ng-click="selectTool(tool)"></div>
    </div>
    <canvas>Canvas is not supported</canvas>
    <footer class="bluvue-sheet-footer">
        <div><button ng-click="pinCurrentSheet()" ng-disabled="options.currentSheetPinned">Pin Sheet</button></div>
        <div ng-repeat="pinnedSheet in pinnedSheets" ng-class="{selected: pinnedSheet.id === sheet.id}">
            <span ng-click="selectPinnedSheet(pinnedSheet)">{{pinnedSheet.name}}</span><a ng-click="unpinSheet($index)">x</a>
        </div>
    </footer>
</div>